.imgLogo img {
    width: 180px;
    height: 120px;
}

.MenuNavBar li{
    color: whitesmoke;
}

.menuBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



